.left{
   float:left;
    width:50%;
    background: green;
}

.right{
    float:right;
    width: 50%;
    background :purple;
}

#uniqueJorney{
    display:none
}

.tableCell{
    margin: 0 auto;
    max-width: 150px;
}

.grayTable{
    background-color: gray;
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 310px;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
    font-size: 44px;
    margin-top: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: center;
}

h3 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

/**
* style for buttons on create trip page
*/
.createButton{
    margin: 0 auto;
    width:250px;
}