.left{
   float:left;
    width:50%;
    background: green;
}

.right{
    float:right;
    width: 50%;
    background :purple;
}

#uniqueJorney{
    display:none
}

#row  {
    display: table-row;
    margin-left: 10px;
    margin-right: 10px;
}

.tableCell{
    margin: 0 auto;
    max-width: 150px;
}

.grayTableCell{
    background-color: #E5E4E2;
    width: 100px;
    height: 100px;
}
/* this is the way to change size of the table and show more content on hover

.grayTableCellProperties{
    visibility: hidden;
}
.grayTableCell:hover{
    background-color: #347235;
    visibility: visible;
    width: 200px;
    height: 200px;
}
*/
.cell{
    display: table-cell;
}

.grayTable{
    background-color: #6a7171;
    margin: 0 auto;
    max-width: 310px;
    display: table;
}

.currentTripsTable{
    background-color: #9E9E9C;
    margin: 0 auto;
    width: 510px;
    height: 250px;
    display: table;
    margin-right: 700px;
    border-collapse: separate;
    border-spacing: 15px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.lightGrayTable{
    background-color: #736F6E;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 300px;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
    font-size: 44px;
    margin-top: 30px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

h4{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

h5{
    margin-bottom: 30px;
    text-align: left;
    margin-left: 190px;
    font-size: 24px;
    margin-top: 50px;
}

h6 {
    font-size: 11px;
    font-weight: normal;
    text-align: left;
    margin-left: 5px;
    margin-top: 10px;
}

/**
* style for buttons on create trip page
*/
.createButton{
    background-color: #ADDFFF;
    width: 170px;
    max-height: 45px;
    margin-top: 15px;
}

.createButton:hover{
    background-color: #307D7E;
}

#weekDays{
    display:none;
    margin-top: 25px;
}

.viewTripsButton {
    background-color: lightpink;
    width: 170px;
    max-height: 45px;
    margin-top: 15px;
}

.viewTripsButton:hover{
    background-color: lightcoral;
}

.carButton {
    background-color: #ADDFFF;
    width: 130px;
    height: 45px;
    margin-top: 15px;
}

.carButton:hover{
    background-color: #307D7E;
}

.taxiButton {
    background-color: cadetblue;
    width: 130px;
    height: 45px;
    margin-top: 15px;
}

.taxiButton:hover{
    background-color: #151B54;
}

.walkButton {
    background-color: lightgreen;
    width: 130px;
    height: 45px;
    margin-top: 15px;
}

.walkButton:hover{
    background-color: #347235;
}

.alltripsButton {
    background-color: #f5e79e;
    width: 130px;
    height: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.alltripsButton:hover{
    background-color: lightcoral;
}
